.card-img{
    cursor: pointer;
}
.card-img:hover{
    transform: scale(105%);
    transition: transform 1s;
    overflow: hidden;
}
.git-link-container{
    font-size: 18px;
}
.card-link{
    /* text-decoration: none; */
    color: rgb(56, 56, 56);

}
.card-link:hover{
    color: rgb(143, 0, 43);
}
.git-link{
    display: inline-block;
    margin:0 5px;
}
.git-link:hover{
    transform: scale(105%);
    transition: transform .5s;
}